@media screen and (max-width: 768px) {

    .form-title {
        text-align: center;
    }
}

body {
    background: #f8f8f8;
}

.login-panel {
    /*height: 50%;*/
    /*height: 700% ;*/
    border-radius: 10px;
    background-color: white;
    padding: 35px;
    margin-bottom: 20px;
}

.wrap-img {
    max-height: 480px;
    height: 100%;
    width: 100%;
    border: 0px solid red;
}

    .wrap-img img {
        width: 100%;
        height: 100%;
    }

.form-title {
    margin-bottom: 25px;
}

input {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 15px;
}

input {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

    input[type=checkbox] {
        -moz-appearance: checkbox !important;
        -webkit-appearance: checkbox !important;
        -o-appearance: checkbox !important;
        -ms-appearance: checkbox !important;
    }

.btn-login {
    background-color: #9bc7f3;
    padding: 8px 20px;
    border: 0px solid unset;
    border-radius: 5px;
    margin: 0;
}

.form-group {
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .rwd-form {
        padding-top: 50px;
    }
}

.break-line {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    margin-top: 15px;
    margin-bottom: 15px;
}

button.btn-qrcode {
    border: 0 none;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #b6fdf7;
}

canvas { /* or some other selector */
    width: 180px;
    height: 180px;
}
