@media screen and (max-width: 576px) {
    #contain {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.boxShadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.badgeNow {
    background-color: rgb(229, 249, 237);
    color: rgb(29, 183, 95);
}

.badgeDefault {
    padding: 5px;
    width: 90px;
    text-align: center;
    /*line-height: 20px;*/
    /*height: 25px;*/
    border-radius: 5px;
}

.badgePresale {
    background-color: #fff7f6;
    color: #ff8577;
}

.badgeOver {
    background-color: #C0C4CC;
    color: #606266;
}

.offcanvasButton {
    border-radius: 0% 30% 30% 0%;
    position: fixed;
    top: 30%;
}

.ticketImg {
    /*border-top-left-radius: calc(.25rem - 1px);*/
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.px-0.mb-3 > div {
    font-size: 20px;
}

.bi {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 15px;
}

a > div > .bi {
    font-size: 23px;
    vertical-align: middle;
    padding-left: -10px;
    padding-right: -10px;
}

.mb-3.col-12.d-flex > div {
    font-size: 18px;
}

/*div > a :hover {
    background-color:lightskyblue;
    color: white;
    transition:ease-out .15s;
    
}*/
/* @media screen and (min-width: 576px){
            #first{
                border-right: 2px solid rgb(195, 195, 195);
            }
        } */
