a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    background: white;
}

.top-content {
    background-color: rgba(0, 0, 0, .25);
    background-blend-mode: multiply;
    height: 70vh;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
    background-image: url("/Image/Dev/exhibition_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    .top-content .container {
        padding-top: 20vh;
        justify-content: center;
    }

    .top-content h1 {
        font-size: 70px;
        color: aliceblue;
    }

    .top-content p {
        font-size: 30px;
        color: beige;
    }

.whatHotContent {
    margin-top: 25px;
    margin-bottom: 25px;
}

.ContentMargin1 {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    border: none;
    margin-top: 20px;
    padding-top: 30px;
    /*height: 100px;*/
    background-color: rgb(215, 217, 222);
}

    footer small {
        color: #7f7f7f;
    }

.breakLine {
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: gray;
}

.footer-social {
    margin-right: 10px;
    margin-left: 10px;
}

.follow-text {
    font-size: 18px;
    color: gray;
    margin: 15px;
}

.text-color1 {
    color: #6a6969;
}

.aboutBox {
    padding: 15px;
    /*border: 1px solid gray;*/
    border-radius: 5px;
}

.exhibitionBox {
    /*height: 280px;*/
    border: 1px solid unset;
    border-radius: .25rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.exhibitionWrap {
    min-height: 280px;
}

.exhibitionImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(.25rem - 1px);
}

.exhibitionContent {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.text-color2 {
    color: #535353;
}

.exhibition-describe {
    height: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}

.exhibition-btn {
    background-color: #4abd4a;
    border-radius: 5px;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.wrapImg {
    height: 280px;
}

    .wrapImg img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.resent-exhibition-shadow {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.new-exhibition-content {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-go-detail {
    background-color: #95f582;
}
