
@{
    ViewBag.Title = "Index";
}


<div class="row main-content" style="min-height: 100vh">

    <div class="row main-content" style="min-height: 100vh;">

        <div class="sideBar col-md-2 d-flex flex-column flex-shrink-0 p-3 col-md-2 	d-none d-md-block" style="background-color: white">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4">個人中心</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="#" class="nav-link selectItem" aria-current="page">查看票券</a>
                </li>
                <li>
                    <a href="#" class="nav-link side-item">購買紀錄</a>
                </li>
                <li>
                    <a href="#" class="nav-link side-item">活動專區</a>
                </li>
                <li>
                    <a href="#" class="nav-link side-item">個人資料</a>
                </li>
            </ul>
        </div>

        <div class="w3-main col-md-10 mt-3 p-5" id="contain">

            <div class="row mb-3">
                <div class="d-inline-block w-50">
                    <h3>票券列表</h3>
                </div>
                <div class="d-inline-block w-50 d-flex justify-content-end m-0 p-0">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            條件選擇
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="#">全部</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">可使用</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">逾期</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--        border-top-left-radius: 5px;border-bottom-left-radius: 5px;-->
            <div class="row mb-4 boxShadow" v-for="element in dataRow"
                 style="border-left : 6px solid #00a6ff; border-radius: 10px;background-color: white;">
                <!-- #ffcc00 -->
                <div class="col-sm-3 p-0 m-0">
                    <img :src="imgUrl" style="object-fit: cover;width: 100%;height: 200px;" alt="">
                </div>
                <div class="col-sm-9 pt-2 pb-2" style="padding-left: 15px">
                    <h3>從零開始異世界生活</h3>
                    <hr>
                    <div class="mb-3">
                        <small class="w3-text-gray">日期</small>
                        <p class="mb-1">2022/01/01 - 2022/04/30</p>
                        <p class="badgeDefault" v-bind:class="[ badgeBackground('presale') ]">
                            <span>&#8226;</span>
                            {{ CheckTicket('now') }}
                        </p>
                    </div>
                    <div class="col-sm-3 mt-auto">
                        <button onclick="location.href = './myTicketDetail.html';" class="w-100" style="color: #069ff1;line-height: 25px;border-radius: 5px;
                                    border: 1px solid  #069ff1;background-color: white">
                            查看票券
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    new Vue({
        el: '#contain',
        data() {
            return {
                ticketStatus: 'over',
                badgeBg: {
                    over: 'badgeOver',
                    now: 'badgeNow',
                    presale: 'badgePresale',
                },
                imgUrl: './images/reZero.png',
                dataRow: [1, 2, 3, 4, 5],
            }
        },
        created: function () {

        },
        methods: {
            CheckTicket(value) {
                if (value.toUpperCase() === 'over'.toUpperCase()) {
                    return '逾期票券';
                } else if (value.toUpperCase() === 'now'.toUpperCase()) {
                    return '當期票券';
                } else if (value.toUpperCase() === 'presale'.toUpperCase()) {
                    return '預售票券';
                }
            },
            badgeBackground(data) {
                const self = this;
                return self.badgeBg[data];
            }
        }
    })
</script>
