
@{
    ViewBag.Title = "Index";
}

@section styles{
    <style>
        .box {
            /*max-width: 100%;*/
            width: 100%;
            background-color: white;
            height: 100%;
            /*border: 1px solid #b1b1b1;*/
            padding: 15px;
            border-radius: 5px;
            display: inline-block;
            /*width: 100%;*/
            /*box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
        }

        .text-font-1 {
            font-size: 18px;
            font-weight: bold;
        }

        .text-font-2 {
            font-size: 18px;
        }
    </style>
}


<div class="mt-3 p-2" id="contain">
    <div class="row w-100">
        <div class="col-md-3 p-2">
            <div class="box d-flex flex-column">
                <div class="text-font-1">最近一個月營收</div>
                <div class="text-font-2">$ {{ revenue }}</div>
            </div>
        </div>
        <div class="col-md-3 p-2">
            <div class="box">
                <div class="text-font-1">最近一個月購票人數</div>
                <div class="text-font-2">{{ numPeople }}</div>
            </div>
        </div>
        <div class="col-md-3 p-2 ">
            <div class="box">
                <div class="text-font-1">販售中熱門展覽</div>
                <div class="text-font-2">{{ myHotExhibition == "" ? '無' : myHotExhibition }}</div>
            </div>
        </div>
        <div class="col-md-3 p-2 ">
            <div class="box">
                <div class="text-font-1">舉辦場數</div>
                <div class="text-font-2">{{ holdCount }}</div>
            </div>
        </div>
    </div>
    <div class="row w-100 pt-3">
        <div class="col-md-3 mt-3">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #bfddf5">
                    <h3>我的熱門展覽</h3>
                </li>
                <li class="list-group-item" v-for="element in myHotEventList">
                    <div class="d-flex justify-content-between">
                        <div>{{ element.name }}</div>
                        <div>{{ element.number }} 人</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #bff5cb">
                    <h3>我的熱門標籤</h3>
                </li>
                <li class="list-group-item" v-for="element in myHotTagList">
                    <div class="d-flex justify-content-between">
                        <div>{{ element.name }}</div>
                        <div>{{ element.number }} 次</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #f5c095">
                    <h3>全部熱門展覽</h3>
                </li>
                <li class="list-group-item" v-for="element in allHotEventList">
                    <div class="d-flex justify-content-between">
                        <div>{{ element.name }}</div>
                        <div>{{ element.number }} 人</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #eff595">
                    <h3>全部熱門標籤</h3>
                </li>
                <li class="list-group-item" v-for="element in allHotTagList">
                    <div class="d-flex justify-content-between">
                        <div>{{ element.name }}</div>
                        <div>{{ element.number }} 次</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#contain',
        data() {
            return {
                revenue: '',
                numPeople: '',
                myHotExhibition: '',
                holdCount: '',
                myHotEventList: [],
                myHotTagList: [],
                allHotEventList: [],
                allHotTagList: []
            }
        },
        created() {
            this.getData()
        },
        mounted() {

        },
        methods: {
            getData() {
                let self = this
                fetch('/api/other/GetHostDashBoard')
                    .then(res => res.json())
                    .then(res => {
                        self.revenue = res.revenue;
                        self.numPeople = res.numPeople;
                        self.myHotExhibition = res.myHotExhibition;
                        self.holdCount = res.holdCount;
                        self.myHotEventList = res.myHotEventList;
                        self.myHotTagList = res.myHotTagList;
                        self.allHotEventList = res.allHotEventList;
                        self.allHotTagList = res.allHotTagList;
                    })
            }
        },
    })


</script>
