@{
    ViewBag.Title = "ShowHostEvent";
}

<div class="container h-100 mt-3" id="VuePage">
    <div class="row justify-content-sm-center h-100">
        <table class="table">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>主辦單位</th>
                    <th>名稱</th>
                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th>待審核數量</th>
                    <th>---------------------- </th>
                </tr>
            </thead>
            <tr v-for="(item,index) in res">
                <td v-show="false" id="evid">{{item.evid}}</td>
                <td v-show="true" id="evid">{{ index + 1 }}</td>
                <td>{{item.name }}</td>
                <td>{{item.exhibitionname}}</td>
                <td>{{item.startdate }}</td>
                <td>{{item.enddate }}</td>
                <td>{{item.waitingCount }}</td>
                <td>
                    <a :href=`./allowOrRefuse/?EVID=${item.evid}` class="btn btn-outline-success" role="button">審核</a>
                    @*<input type="submit" value="審核" />*@
                    <a :href=`./EditEventInfo/?EVID=${item.evid}` class="btn btn-outline-primary" role="button">編輯</a>
                    @*<input type="submit" value="編輯" />*@
                    <a :href=`./DetailsHost/${item.evid}` class="btn btn-outline-info" role="button">查看</a>
                    @*<input type="submit" value="明細" v-on:click="Details(item.evid)" />*@

                </td>

            </tr>
        </table>
    </div>
</div>

@section scripts {
    <script>

        var VuePage = new Vue({
            el: '#VuePage',
            data: {
                res: [],
            

            },

            mounted() {
                axios
                    .get('/HostApi/List')
                    .then(function (response) {
                        VuePage.res = response.data

                    })
                    .catch((err) => {
                        console.log(err)
                    });

                
            },
            methods: {
                Details: function (va) {

                    axios.get('/HostApi/PostList/', + va)
                        .then(function (response) {
                            window.location.href = "/" + "host" + "/" + "DetailsHost" + "/" + va
                        })
                        .catch((err) => {
                            console.log(err)
                        });
                },
              
                




            }
        });
    </script>
}