
@{
    ViewBag.Title = "RegisterUser";
}

@section    styles{    
    <style>

        @@media screen and (max-width: 768px) {
            .form-title {
                text-align: center;
            }
        }

        body {
            background: #f8f8f8;
        }

        .login-panel {
            border-radius: 10px;
            background-color: white;
            padding: 10px;
            margin-bottom: 20px;
        }

        .wrap-img {
            max-height: 400px;
            height: 100%;
            width: 100%;
            border: 0px solid red;
        }

            .wrap-img img {
                width: 100%;
                height: 100%;
            }

        .form-title {
            margin-bottom: 25px;
        }

        input {
            box-sizing: border-box;
            display: inline-block;
            border: none;
            border-bottom: 1px solid #999;
            padding: 6px 15px;
        }

        input {
            outline: none;
            appearance: unset !important;
            -moz-appearance: unset !important;
            -webkit-appearance: unset !important;
            -o-appearance: unset !important;
            -ms-appearance: unset !important;
        }

            input[type=checkbox] {
                -moz-appearance: checkbox !important;
                -webkit-appearance: checkbox !important;
                -o-appearance: checkbox !important;
                -ms-appearance: checkbox !important;
            }

        .form-group {
            margin-bottom: 15px;
        }

        @@media screen and (max-width: 768px) {
            .rwd-form {
                padding-top: 50px;
            }
        }

        button.signup {
            border: 0 none;
            padding: 5px 15px;
            border-radius: 5px;
            background-color: #adff91;
        }
    </style>
}


<div class="container-fluid pt-3 d-flex justify-content-center" id="app" style="">

    <div class="col-md-8 login-panel">
        <div class="row">
            <div class="col-md-6 p-4">
                <h2 class="form-title rwd-form">會員註冊</h2>
                <form class="form-login" v-on:submit.prevent="sendRegister()">

                    <div class="form-group">
                        <label for="inputUsername">姓名</label>
                        <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp"
                               placeholder="請輸入姓名" required v-model="Name" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="inputUserPhone">電話</label>
                        <input type="text" class="form-control" id="inputUserPhone" aria-describedby="emailHelp"
                               placeholder="請輸入電話" required v-model="Phone" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="inputUserEmail">Email</label>
                        <input type="email" class="form-control" id="inputUserEmail" aria-describedby="emailHelp"
                               placeholder="請輸入 email" required v-model="Email" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="password1">密碼</label>
                        <input type="password" class="form-control" id="password1" aria-describedby="emailHelp"
                               placeholder="請輸入密碼" minlength="8" required v-model="Password" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="password2">再次驗證</label>
                        <input type="password" class="form-control" id="password2" aria-describedby="emailHelp"
                               placeholder="請輸入密碼" required v-model="Password2" autocomplete="off">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="w-50 signup">
                            <span v-show="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            送出
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="d-flex align-content-end h-100">
                    <div class="wrap-img d-inline-block align-self-center">
                        <img src="~/Image/Dev/Register-user.png" alt="">
                        <small>
                            <a style="margin-top:0px;display: block;margin-bottom: 10px"
                               href="https://storyset.com/business">Business illustrations by Storyset</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">請稍後</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- 成功的 Modal -->
    <div class="modal fade" id="SuccessModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">註冊成功</h5>
                </div>
                <div class="modal-body">
                    <p>已成功註冊，前往登入頁面</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("前往登入", "UserLogin", new { }, new { @class = "btn btn-info", @role = "button" })
                </div>
            </div>
        </div>
    </div>
    <!-- 失敗的 Modal -->
    <div class="modal fade" id="failedModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">註冊失敗</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="failedModalBody">
                    請檢查是否有空欄位或是欄位格式錯誤!!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" v-on:click="CloseAllModal()">關閉</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                Name: '',
                Phone: '',
                Email: '',
                Password: '',
                Password2: '',
                processing: false
            }
        },
        methods: {
            CloseAllModal: function () {
                $('.modal').modal('hide');
            }
            ,
            sendRegister() {

                let loadModal = $('#loadingModal');
                loadModal.modal('show');

                let failModal = $('#failedModal');
                let failModalbody = document.getElementById('failedModalBody');

                if (this.Password != this.Password2) {
                    failModalbody.innerHTML = "密碼驗證錯誤!";
                    failModal.modal('show');
                    return
                } else if (this.processing == true) {
                    loadModal.modal('hide')
                    return
                }

                this.processing = true

                let self = this

                let body = {
                    name: self.Name,
                    phone: self.Phone,
                    email: self.Email,
                    Password: self.Password,
                }

                let headers = {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                }

                fetch('/HomeApi/UserRegister', {
                    method: "POST",
                    headers: headers,
                    // https://ithelp.ithome.com.tw/articles/10252941
                    // 別忘了把主體参數轉成字串，否則資料會變成[object Object]，它無法被成功儲存在後台
                    body: JSON.stringify(body)
                }).then(response => response.json()).then(json => {
                    loadModal.modal('hide')
                    if (json.status == 'success') {
                        this.processing = false
                        self.Name = ''
                        self.Phone = ''
                        self.Email = ''
                        let loadModal = $('#SuccessModal');
                        loadModal.modal('show');
                    } else {
                        this.processing = false
                        failModalbody.innerHTML = "註冊失敗，請檢查欄位!";
                        failModal.modal('show');
                    }
                });
            }
        }
    })
</script>

