
@{
    ViewBag.Title = "SendEmail";
}

<div class="container pt-2">
    <div class="d-flex flex-column justify-content-center mt-5">
        <h2 class="p-2 text-center">寄送成功</h2>
        <h5 class="p-2 text-center">請至信箱收取郵件</h5>
    </div>
</div>

