
@{
    ViewBag.Title = "UserForgetPassword";
}

@section styles{
    <style>

        body {
            background: #f8f8f8;
        }

        .login-panel {
            margin-top: 75px;
            border-radius: 10px;
            background-color: white;
            padding: 10px;
            margin-bottom: 20px;
        }

        button {
            border: none;
            padding: 5px;
            background-color: #ffe785;
            border-radius: 7px;
        }

            button:active {
                background-color: #ffde33;
            }
    </style>
}

<div class="container-fluid pt-3 d-flex justify-content-center" id="app" style="">

    <div class="col-md-8 login-panel">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 p-4 d-flex flex-column justify-content-center">
                <h2 class="form-title rwd-form d-flex justify-content-center mb-5">忘記密碼</h2>
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">請輸入電子郵件</label>
                        <input type="email" required name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="col-md-6">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>