
@{
    ViewBag.Title = "UserLogin";
}

@section styles{
    <link href="~/Content/Login/userLogin.css" rel="stylesheet" />
}

<div class="container-fluid pt-5 d-flex justify-content-center" id="app" style="">

    <div class="col-md-8 login-panel">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="wrap-img d-inline-block">
                    <img src="./images/login-bro-host.png" alt="">
                    <small>
                        <a style="margin-top:0px;display: block;margin-bottom: 10px"
                           href="https://storyset.com/business">Business illustrations by Storyset</a>
                    </small>
                </div>
            </div>
            <div class="col-md-6 p-4">
                <h2 class="form-title rwd-form">廠商登入</h2>
                <div class="form-login">
                    <div class="d-flex justify-content-center">
                        <div class="d-block w-100">
                            <div class="form-group flex-wrap d-flex align-items-center w-100 ">
                                <label for="your_name" class="col-1"><i class="fa-solid fa-user"></i></label>
                                <input type="text" v-model="account" class="col-10" name="your_name" id="your_name"
                                       placeholder="帳號" />
                            </div>
                            <div class="form-group flex-wrap d-flex align-items-center w-100">
                                <label for="your_pass" class="col-1"><i class="fa-solid fa-lock"></i></label>
                                <input type="password" v-model="password"  autocomplete="off" class="col-10" name="your_pass" id="your_pass"
                                       placeholder="密碼" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-wrap align-items-center mt-3">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" style="padding-left: 8px" class="label-agree-term"><span><span></span></span>記住我</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn-login btn" v-on:click="login()">
                            登入
                        </button>
                        <div class="d-inline-block">
                            <a href="#" class="p-0 d-inline-block" style="margin-right: 25px">用戶註冊</a>
                            <a href="#" class="p-0 d-inline-block">忘記密碼</a>
                        </div>
                    </div>
                    <div class="break-line"></div>
                    <button>QR code 登入</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

        new Vue({
            el: '#app',
            data() {
                return {
                    account: '',
                    password: '',
                    qrCodeLoginToke: '',
                }
            },
            methods: {
                login() {

                    let json = {
                        account: this.account,
                        password: this.password
                    }

                    fetch('/HostApi/Login', {
                        body: JSON.stringify(json),
                        method: 'POST',
                        redirect: 'follow',
                        referrer: 'no-referrer',
                    }).then(response => response.json()).then(res => {
                        if (res.status === "success") {

                            @Request.Url.Authority

                            window.location.href = res.data.url
                        } else {
                            alert(res.message)
                        }
                    })

                }
            }
        })
    </script>
}
