
@{
    ViewBag.Title = "ApplyHistory";
}
@section styles{
    <link href="~/Content/ApplyHistory.css" rel="stylesheet" />
}

<div class="row main-content" style="min-height: 100vh;">
    <div class=" col-md-12 mt-3 p-5" id="contain">
        <div class="d-flex mb-5 border-bottom pb-4 justify-content-start text-center" style="border: #606266;">
            <div class="d-inline-block" style="width:90%">
                <h3 class="m-0 text-start">參與歷史紀錄</h3>
            </div>
        </div>
        <div class="row justify-content-center w-100 px-0 mx-sm-3" id="vuedata">
            <div class="row col-11 col-sm-11 px-0 py-0 mb-3 boxShadow myTicketBox justify-content-center" v-for="data in dataRow"
                 style="border-radius: 2%;">
                <!-- #ffcc00 -->
                <div class="col-10 col-sm-3 p-0 m-0 mt-3 mt-sm-0" style="height: 150px;" id="Eventimage">
                    <img :src="data.img" class="ticketImg w-100" style="border-radius: 4%;" alt="">
                </div>
                <div class="col-12 col-sm-9 py-0 mt-1 d-flex" style="padding-left: 15px">
                    <div class="mb-3 col-12 d-flex justify-content-center" style="flex-wrap: wrap;">
                        <h3 class="px-2 pb-2 mt-1 col-12 col-sm-11" style="border-bottom: 2px solid rgb(205, 185, 124);">
                            {{data.name2}}
                        </h3>
                        <div class="d-none">{{data.EVID}}</div>
                        <div class="col-12 col-sm-5 col-lg-5 px-4 mb-1 d-flex align-items-center" id="first">
                            <i class="bi bi-person-square"></i>
                            {{data.name}}
                        </div>
                        <div class="col-12 col-sm-7 col-lg-7 px-4 mb-1 d-flex align-items-center flex-wrap" style="font-size: 15px;">
                            <i class="bi bi-calendar3"></i>
                            <div>{{data.startdate}} ~ </div><div>{{data.enddate}}</div>
                        </div>
                        <div class="col-12 px-1s d-flex align-items-center justify-content-end" style="color:royalblue;">
                            <a style="cursor: pointer;" v-on:click="gopage(data.EVID)"><div>查看更多<i class="bi bi-caret-right"></i></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    var VuePage = new Vue({
        el: '#vuedata',
        data() {
            return {
                ticketStatus: 'over',
                badgeBg: {
                    over: 'badgeOver',
                    now: 'badgeNow',
                    presale: 'badgePresale'
                },
                dataRow: [],
            }
        },

        mounted() {
            this.ApplyHistory()
        },
        methods: {
            CheckTicket(value) {
                if (value.toUpperCase() === 'over'.toUpperCase()) {
                    return '逾期票券';
                } else if (value.toUpperCase() === 'now'.toUpperCase()) {
                    return '當期票券';
                } else if (value.toUpperCase() === 'presale'.toUpperCase()) {
                    return '預售票券';
                }
            },
            badgeBackground(data) {
                const self = this;
                return self.badgeBg[data];
            },

            ApplyHistory() {
                const self = this;
                axios.get('/ExhibitorApi/ApplyHistory/' + '@ViewBag.id')
                        .then(function (response) {
                            self.dataRow = response.data
                            console.log(response)
                        })
            },

            gopage(data) {
                window.location.href = "/exhibitor/showEventDetail/?EVID=" + data
            }
        }
    })
</script>

