
@{
    ViewBag.Title = "HistoryList";
}

<h2>EventHistory</h2>
<div class="col-md-11 mx-auto" id="VuePage">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">筆</th>
                <th scope="col">名稱</th>
                <th scope="col">開始時間</th>
                <th scope="col">結束時間</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="data in DataList" >
                <td>{{data.EVID}}</td>
                <td>{{data.name}}</td>
                <td>{{data.startdate}}</td>
                <td>{{data.enddate}}</td>
                <td><button type="button" class="btn btn-outline-success mx-3">核准</button><button type="button" class="btn btn-outline-danger">拒絕</button></td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        new Vue({
            el: '#VuePage',
            data: {
                DataList: [],
            },
            mounted() {
                const self = this
                axios.post('/ExhibitorApi/CanApplyList')
                    .then(function (response) {
                        self.DataList = response.data
                        alert(this);
                    })
            },
            
            methods: {
                
            },
        });
    </script>
}




