
@{
    ViewBag.Title = "Shopcart";
}

@section styles{
    <link href="~/Content/ShoppingCart.css" rel="stylesheet" />
    <style>
        .fade {
            opacity: 0;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
        }
    </style>
}

<div class="container panel row" id="shoppingcart">
    <div class="col-md-8 bottom-line">
        <h3>
            <b>購物車</b>
        </h3>
        <div class="item-cart d-flex flex-wrap mt-3" v-for="element in cart">
            <div class="item-first col-md-4 p-0" style="">
                <div class="wrap-img">
                    <img :src="element.image" alt="">
                </div>
            </div>
            <div class="item-second col-md-6 flex-column d-flex">
                <div class="">
                    <h4 class="item-text">{{ element.name }}</h4>
                    <p class="m-0 p-0">{{ element.venue }}</p>
                    <p class="m-0 p-0 d-flex flex-wrap">
                        <div class="d-flex flex-wrap">
                            <div class="col-2 m-0 p-0 num">日期:</div>
                            <div class="col-10 m-0 p-0 num">{{ element.startdate }} ~ {{ element.enddate }}</div>
                        </div>
                    </p>
                </div>
                <div class="mt-auto">
                    <a href="javascript:void(0);" v-on:click="removeItem(element.cartId)" class="d-block remove-link">
                        <i class="fa-solid fa-trash-can" style="padding-right: 8px"></i>移除
                    </a>
                </div>
            </div>
            <div class="item-third col-md-2">
                <div class="d-flex justify-content-end">
                    <p class="price">$ {{ element.ticketprice }}</p>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-4">
        <h3 class="mb-2">
            <b>摘要</b>
        </h3>
        <div class="price-panel d-flex justify-content-between mb-2  mt-5">
            <span>小記</span>
            <span class="price">{{ totalPrice }}</span>
        </div>
        <div class="price-panel d-flex justify-content-between mb-2">
            <span>折扣</span>
            <span class="price">{{ discount }}</span>
        </div>
        <div class="price-panel-line"></div>
        <div class="price-panel d-flex justify-content-between mt-3">
            <h5 class="m-0">總計</h5>
            <span class="price">${{ totalPrice - discount }}</span>
        </div>
        <div class="price-panel-line mt-3"></div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="d-inline-block paypal-btn" onclick="">
                <img style="height: 100%;width: 100%" v-on:click="sendOrder()"
                     src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"
                     alt="Check out with PayPal" />
            </div>
        </div>
    </aside>

    <!-- Modal -->
    <div class="modal" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">請稍後</h5>
                </div>
            </div>
        </div>
    </div>

</div>


@{
    Html.RenderAction("Footer", "PartView");
}

@section scripts{
    <script>
        var app = new Vue({
            el: '#shoppingcart',
            data() {
                return {
                    totalPrice: 0,
                    discount: 0,
                    shop_number: 0,
                    name: 'fernan',
                    sum: 0,
                    link: 'putin.html',
                    dateTime: '',
                    cart: [],
                }
            },
            created: function () {
                this.getCartList();
            },
            methods: {
                sendOrder() {
                    let loadModal = $('#loadingModal');
                    loadModal.modal('show');
                    let body = this.cart
                    fetch('/Api/ShopApi/PostCreateOrder', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Accept": "application/json",
                        },
                        // https://ithelp.ithome.com.tw/articles/10252941
                        // 別忘了把主體参數轉成字串，否則資料會變成[object Object]，它無法被成功儲存在後台
                        body: JSON.stringify(body)
                    }).then(response => response.json()).then(json => {
                        $('#loadingModal').modal('hide');
                        if (json.status == 'success') {
                            window.location.href = json.data.url
                        } else {
                            alert(json.message)
                        }
                    });
                },
                removeItem(id) {
                    let self = this
                    fetch('/Api/ShopApi/PostRemoveCartItem/' + id, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Accept": "application/json",
                        }
                    }).then(response => response.json()).then(json => {
                        self.cart = json;
                        for (var i = 0; i < self.cart.length; i++) {
                            self.cart[i].startdate = self.cart[i].startdate.slice(0, 10)
                            self.cart[i].enddate = self.cart[i].startdate.slice(0, 10)
                        }
                    });
                },
                getCartList() {
                    let self = this
                    fetch('/api/shopapi/getcartlist')
                        .then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            self.cart = data
                            for (var i = 0; i < self.cart.length; i++) {
                                self.cart[i].startdate = self.cart[i].startdate.slice(0, 10)
                                self.cart[i].enddate = self.cart[i].startdate.slice(0, 10)
                            }
                        })
                }
            },
            computed: {

            },
            watch: {
                cart() {
                    if (this.cart != null && this.cart.length > 0) {
                        let total = 0
                        const self = this
                        self.cart.forEach(element => {
                            total = total + parseInt(element.ticketprice)
                        });
                        this.totalPrice = total
                    } else {
                        this.totalPrice = 0
                    }
                }
            }
        });

    </script>
}
