@{
    ViewBag.Title = "_SideBarHostBtn";
}

<div class="d-block d-md-none" >
    <button class="btn btn-primary offcanvasButton" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="font-size: 20px;">
        <i class="bi bi-chevron-bar-right"></i>
    </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <a href="/host">主辦單位首頁</a>
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @*<a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4"></span>
        </a>*@
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="/Host/CreateEvent" class="nav-link side-item">建立展覽</a>
            </li>
            <li>
                <a href="/Host/ShowHostEvent" class="nav-link side-item">已建立展覽</a>
            </li>
            <li>
                <a href="/Host/EditHostInfo" class="nav-link side-item">個人資料</a>
            </li>
        </ul>
    </div>
</div>