@{
    ViewBag.Title = "_SideBarHost";
}

<div class="sideBar col-md-2 d-flex flex-column flex-shrink-0 p-3 d-none d-md-block"
     style="background-color: white">
    <a href="/host" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4 text-dark">主辦單位首頁</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="~/Host/CreateEvent" class="nav-link side-item">建立展覽</a>
        </li>
        <li>
            <a href="/Host/ShowHostEvent" class="nav-link side-item">已建立展覽</a>
        </li>
        <li>
            <a href="/Host/EditHostInfo" class="nav-link side-item">個人資料</a>
        </li>
    </ul>
</div>