@{
    ViewBag.Title = "_SideBarUser";
}

<div class="sideBar col-md-2 d-flex flex-column flex-shrink-0 p-3 col-md-2 	d-none d-md-block"
     style="background-color: white">
    <a href="/User/MyTicketList" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4 text-dark">個人中心</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/User/MyTicketList" class="nav-link side-item">查看票券</a>
        </li>
        <li>
            <a href="/User/ConsumingRecords" class="nav-link side-item">購買紀錄</a>
        </li>
        <li>
            <a href="/User/EditUser" class="nav-link side-item">個人資料</a>
        </li>
        <li>
            <a href="/User/ScanLoginQRCode" class="nav-link side-item">QRCode 登入</a>
        </li>
    </ul>
</div>