
@{
    ViewBag.Title = "EditHost";
}

<h2>EditHost</h2>


<div class="container h-100 mt-3" id="VuePage">
    <div class="row justify-content-sm-center h-100">
        <table class="table" >
            <tr>
                <th id="app">
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    6
                </th>
                <th></th>
            </tr>
        </table>
    </div>
</div>

@section scripts {

    <script>

        const app = document.querySelector('#app')

        const xhr = new XMLHttpRequest();

        xhr.onload = function () {
            let data = JSON.parse(xhr.responseText);
            app.textContent = data[0].name;

        }


        xhr.open('get', ~/HostApi/List,true);
        xhr.send();



    </script>





    @*<script>
        var VuePage = new Vue({
            el: '#app',
            data: return {
                res:{}
            },
            methods: {
               
           
                        
                       
                
            }
        });
    </script>*@
}